<h1> List of Saved Articles </h1>

<table>
	<thead>
		<tr>
			<th>Article Type</th>
			<th>Content</th>
			<th>Url</th>
			<th>User_id</th>
			<th colspan="10"></th>
		</tr>
	</thead>

	<tbody>
		<% @articles.each do |article| %>
		<tr>
			<td><%= article.article_type %></td>
			<td><%= article.content %></td>
			<td><%= article.url %></td>
			<td><%= article.user_id %></td>
			<td><%= link_to 'Destroy', [article.user, article], method: :delete %></td>
		</tr>
		<% end %>
	</tbody>
</table>